<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <title>talkitover App</title>
</head>
<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1>talkitover</h1>
      <h2><%= name%></h2>
      <a href="index.html" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
      <div class="chat-messages">
        <div class="message">
          <p class="meta"></p>
          <p class="text"> 
        </div>
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
        <button class="btn" type="submit"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
  <script>
    const roomll = '<%= roomName%>';
    const name = '<%= name%>';

  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  const socket = io();
const messageForm = document.getElementById('chat-form');
const messageInput = document.getElementById('msg');

if (messageForm !== null) {
  // const name = prompt('What is your name?');
  outputmessage('You joined');
  // console.log('my name in ====>',roomll);
  socket.emit('new-user', roomll, name);

  messageForm.addEventListener('submit', e => {
    e.preventDefault()
    const message = messageInput.value
    outputmessage(`You: ${message}`)
    socket.emit('send-chat-message', roomll, message)
    messageInput.value = ''
  })
}

// socket.on('room-created', room => {
//   const roomElement = document.createElement('div')
//   roomElement.innerText = room
//   const roomLink = document.createElement('a')
//   roomLink.href = `/${room}`
//   roomLink.innerText = 'join'
//   roomContainer.append(roomElement)
//   roomContainer.append(roomLink)
// })

socket.on('chat-message', data => {
  outputmessage(`${data.name}: ${data.message}`)
})

socket.on('user-connected', name => {
  outputmessage(`${name} connected`)
})

socket.on('user-disconnected', name => {
  outputmessage(`${name} disconnected`)
})


function outputmessage(message)
{
  var date = new Date;
date.setTime(result_from_Date_getTime);

var minutes = date.getMinutes();
var hour = date.getHours();

  const div = document.createElement('div');
  div.classList.add('message');
  div.innerHTML=`<p class="meta"><span>${hour} : ${minutes}</span>${message}</p>
  <p class="text">
  </p>`;
  document.querySelector('.chat-messages').appendChild(div);
}
  </script>
</body>
</html>