<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <title>talkitover App</title>
</head>
<body>
  <div class="chat-container">
    <header class="chat-header">
      <h1>talkitover</h1>
      <a href="index.html" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
      <div class="chat-messages">
        <div class="message">
          <p class="meta"></p>
          <p class="text"> 
        </div>
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
        <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
  <script>
    const lllroom = "<%=roomName%>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
      console.log('hiiiiiiiiiiiiiiiiiii');
const socket = io();
const room = 'Private Chat Room';
// console.log(client.request.headers.cookie);
socket.emit('joinRoom', room);  //3. send the room name to the server
socket.on('joinRoom', room => {
  console.log(room);
});  //7. print the room name 
socket.on('disconnected', (msg) => {
  console.log(msg);
  outputmessage(msg);

});
//8. to send the msg payload to the server
// let messages = [];
const chatform = document.getElementById('chat-form');
socket.on('message', (message) =>{
  console.log('message1',message);
  outputmessage(message);
});
chatform.addEventListener('submit', (e)=> {
  e.preventDefault();
  const msg = e.target.elements.msg.value;
  console.log(msg);
  socket.emit('message', msg);
});
let date = new Date(Date.now());
// var minutes = 1000 * 60;
// var hours = minutes * 60;
// var days = hours * 24;
// var years = days * 365;
// var date = new Date();
// var time = date.getTime();
// var year = Math.round(time / years);
function outputmessage(message)
{
  const div = document.createElement('div');
  div.classList.add('message');
  div.innerHTML=`<p class="meta">${message}<span>${date}</span></p>
  <p class="text">
  </p>`;
  document.querySelector('.chat-messages').appendChild(div);
}
  </script>
</body>
</html>